<p class="cardtext">Events</p>

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <a routerLink="">
                <h5 class="card-title">Green Workshop
                </h5>
            </a>
            <img src="/assets/workshop.png" class="card-img-top" height="340" alt="...">
            <div class="card-body">
                <p class="card-text">Workshops for people who are interessed in a better interaction with our mother earth.</p>
            </div>

        </div>
    </div>
    <div class="col">
        <div class="card">
            <a routerLink="">
                <h5 class="card-title">Train Bike</h5>
            </a>
            <img src="/assets/bahnrad.jpg" class="card-img-top" height="340" alt="...">
            <div class="card-body">

                <p class="card-text">You're sick of overcrowded trains, because you don't have any space to bring you bike into the train. On bike only, it takes too long? Why don't you mix it - Train & Bike = the trainbike :D.</p>
            </div>

        </div>
    </div>
    <div class="col">
        <div class="card">
            <a routerLink="">
                <h5 class="card-title">Work & Travel</h5>
            </a>
            <img src="/assets/worktravel.jpg" class="card-img-top" height="340" alt="...">
            <div class="card-body">

                <p class="card-text">How to work and travel.</p>
            </div>

        </div>
    </div>
    <div class="col">
        <div class="card">
            <a routerLink="">
                <h5 class="card-title">Urban Gardening</h5>
            </a>
            <img src="/assets/urbangarden.png" class="card-img-top" height="340" alt="...">
            <div class="card-body">
                <p class="card-text">Make a garden, make the city greener.</p>
            </div>

        </div>
    </div>
</div>