<div class="header">
    <img src="https://images.memphistours.com/xlarge/c07ab1dcc22ca772efd77c021b67143a.jpg" height="420" alt="">
</div>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(66, 233, 66);">
    <div class=" container-fluid ">
        <a class="navbar-brand " href="# ">Green Blog</a>
        <button class="navbar-toggler " type="button " data-bs-toggle="collapse " data-bs-target="#navbarSupportedContent " aria-controls="navbarSupportedContent " aria-expanded="false " aria-label="Toggle navigation ">
        <span class="navbar-toggler-icon "></span>
      </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent ">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle " href="# " id="navbarDropdown " role="button " data-bs-toggle="dropdown " aria-expanded="false ">
              Home
            </a>
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdown ">
                        <li><a class="dropdown-item " href="# ">Action</a></li>
                        <li><a class="dropdown-item " href="# ">Another action</a></li>
                        <li><a class="dropdown-item " href="# ">Another action</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle " href="# " id="navbarDropdown " role="button " data-bs-toggle="dropdown " aria-expanded="false ">
              Ecotourism
            </a>
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdown ">
                        <li><a class="dropdown-item " href="# ">Action</a></li>
                        <li><a class="dropdown-item " href="# ">Another action</a></li>
                        <li><a class="dropdown-item " href="# ">Something else here</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle " href="# " id="navbarDropdown " role="button " data-bs-toggle="dropdown " aria-expanded="false ">
              Destinations
            </a>
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdown ">
                        <li><a class="dropdown-item " href="# ">Action</a></li>
                        <li><a class="dropdown-item " href="# ">Another action</a></li>
                        <li><a class="dropdown-item " href="# ">Something else here</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle " href="# " id="navbarDropdown " role="button " data-bs-toggle="dropdown " aria-expanded="false ">
              Reviews
            </a>
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdown ">
                        <li><a class="dropdown-item " href="# ">Action</a></li>
                        <li><a class="dropdown-item " href="# ">Another action</a></li>
                        <li><a class="dropdown-item " href="# ">Something else here</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle " href="# " id="navbarDropdown " role="button " data-bs-toggle="dropdown " aria-expanded="false ">
              About Us
            </a>
            </ul>
            <form class="d-flex ">
                <input class="form-control me-2 " type="search " placeholder="Search " aria-label="Search ">
                <button class="btn btn-outline-success " type="submit ">Search</button>
            </form>
        </div>
    </div>
</nav>