<body>
    <div class="box"><strong>Best Places</strong>
        <p>Text example Text example Text example Text example Text example Text example Text example Text example Text example Text example Text example Text example Text example Text example </p>
    </div>
    <div class="box"><strong>Experiences</strong></div>
    <p>Text example Text example Text example Text example Text example Text example Text example Text example Text example Text example Text example Text example Text example Text example </p>
    <div class="box"><strong>The story so far</strong></div>
    <p>Text example Text example Text example Text example Text example Text example Text example Text example Text example Text example Text example Text example Text example Text example </p>
</body>